html, body {
    height: 100%;
}
#background {
    background-image: url("../images/seigaiha.png");
    background-repeat: repeat;
    height: 100%;
}
.container {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.jumbotron {
    color: #337ab7;
    background-color: white;
}
.panel {
    font-size: 14pt;
    letter-spacing: 3px;
}
#instructions {
    text-align: justify;
}
.score-panel {
    height: 201px;
}
#result-1, #result-2 {
    opacity: 0;
    color: red;
}
.img-panel {
    display: table;
    width: 100%;
}
.img-span {
    display: table-cell;
    width: auto;
    padding: 10px;
}
.img-button {
    vertical-align: top;
    width: 100%;
}